*
{
   margin: 0%;
}
#logo
{
    height: 300px;
    width: 250px;
}

#header
{
color:whitesmoke;
background-color: rgb(20, 173, 20);
font:bold;
font-size: 120px;    
text-align: center;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li
{
    float: left;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    font-size: 50px ;
}
  
li a:hover:not(.active) 
{
    background-color: #111;
 }
  
.active 
{
    background-color:rgb(227, 122, 70);
}

body 
{
  font-family: Verdana, sans-serif;
}

footer
{
  background-color: rgb(62, 60, 60);
  padding-bottom: 10px;

}

.right
{
  text-align: right;
  margin-right: 20px;
}

.left
{
  text-align: left;
  margin-left: 20px;
}

.contact
{
  font-size: 40px;
  color:white;
}

.cdetails
{
  font-size: 25px;
  color:whitesmoke;
}

.social_media
{
  font-size: 40px;
  color:white;
}

.smdetails
{
  
  font-size: 25px;
  color:whitesmoke;
}

#note
{
  color:whitesmoke;
  font-size:25px;
  margin-top:20px;
  margin-bottom:0px;
}

#map
{
  background: url('stores.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  padding-top:200px;
  padding-bottom: 20px;
  text-align: center;
}


table
{
  color:white;
  text-align: center;
  font-size: 54px;
  margin-bottom:0px;
}

p
{
  font-size:70px;
  color:white;
  text-align:left;
  margin-left:30px;
}

